@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');
body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}
.pad-50{
   padding-bottom: 70px;
   padding-top: 70px;
}
p{
color: #3C3C3C;
font-size: 18px;
padding-bottom: 20px;

}
.btn {
    text-decoration: none;
    padding: 15px 40px;
    background-image: linear-gradient(to right, #F9C261,#F69470,#F9725C);
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
}
.btn:hover{
    background-image: linear-gradient(to left, #F9C261,#F69470,#F9725C);  
}
.text-center{
    text-align: center;
}
/*navbar style start here*/
header{
    height: 60px;
}
.nav{
    float: right;
}

.nav-item li{
    float: left;
    list-style-type: none;
    padding-left: 55px;
}
.nav-item li a{
    text-decoration: none;
    color: #3C3C3C;
}
/*navbar style end here*/
/*top-banner start here*/
section{
   height: 570px; 
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left: 3%;
    height: 500px;

}
h1{
    font-size: 60px;
    color: #3C3C3C;
}
.name-highlight{
    color: #FB6454;
}
.half-width img {
    width: 100%;
}
/*top-banner end here*/
h2{padding-top: 30px;
    font-size: 50px;
    color: #3C3C3C;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
}
/* work style start*/

.work-wrapper{
    background:#fdfcfc;
    height: 650px; 
}
.portfolio {
    margin-top: -25px;
}
.portfolio-item {
    border-radius: 10px;
    margin: 37px;
    padding: 15px;
    box-shadow: 10px 10px 40px gray;
}
.portfolio{
    padding-bottom: 30px;
}
.portfolio li {
    list-style-type: none;
    float: left;
    width: 25%;
    background-color: #fff;
}
.portfolio img{
    width: 100%;
}
h3{
    color: #3C3C3C;
    font-size: 22px;
}
/*---*/
.contact-wrapper{
    height: 400px;
}
.contact {
    background-image: url(images/Group_33094_1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 65%;
    height: 200px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 9%;
    margin-bottom: 9%;
}
.work-inquiry{
    float: left;
    width: 50%;
}
.text-color{
    color: #fff;
   padding-left: 44px;
}
.lc-btn {
    padding: 88px 44px;
    float: right;
}